*.exe
*.dll
*.pdb
*.suo
*db.lock
*.db.lock
*.dtbcache
*.ide
*.props
*.targets
*.AssemblyInfo.Cs
*.ide-shm
*.ide-wal
*.testlog
*.manifest
*.json
*.cache
*.config
*.sln
*.csproj
*.lref
*.settings
*.FileListAbsolute.txt
*.resources
*.baml
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/Settings.Designer.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/Resources.resx
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/Resources.Designer.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/AssemblyInfo.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/MainWindow.g.i.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/MainWindow.g.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/App.g.i.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/App.g.cs
gradebook/src/Gradebook/bin/Debug/netcoreapp3.0/Sebastian's Book.txt
