*.exe
*.dll
*.pdb
*.suo
*db.lock
*.db.lock
*.dtbcache
*.ide
*.props
*.targets
*.AssemblyInfo.Cs
*.ide-shm
*.ide-wal
*.testlog
*.manifest
*.json
*.cache
*.config
*.sln
*.csproj
*.lref
*.settings
*.FileListAbsolute.txt
*.resources
*.baml
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/Settings.Designer.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/Resources.resx
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/Resources.Designer.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/Properties/AssemblyInfo.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/MainWindow.g.i.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/MainWindow.g.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/App.g.i.cs
gradebook/gui/EventsDelegatesLambdas/EventsDelegatesLambdas/obj/Debug/App.g.cs
gradebook/src/Gradebook/bin/Debug/netcoreapp3.0/Sebastian's Book.txt
linq/query/.DS_Store
linq/obj/Debug/netcoreapp3.1/linq
linq/intro/obj/Debug/.DS_Store
linq/intro/obj/.DS_Store
linq/intro/.DS_Store
linq/.vs/linq/xs/UserPrefs.xml
linq/.DS_Store
gradebook/test/Gradebook.Tests/obj/Debug/netcoreapp3.0/Gradebook.Tests.csproj.CopyComplete
gradebook/test/Gradebook.Tests/bin/Debug/netcoreapp3.0/Gradebook
gradebook/test/Gradebook.Tests/.vs/Gradebook.Tests/xs/UserPrefs.xml
gradebook/test/.DS_Store
gradebook/src/Gradebook/obj/Debug/netcoreapp3.0/Gradebook
gradebook/src/Gradebook/bin/Debug/netcoreapp3.0/Gradebook
gradebook/src/Gradebook/.vs/Gradebook/xs/UserPrefs.xml
gradebook/src/Gradebook/.DS_Store
gradebook/src/Collections/.DS_Store
gradebook/src/.DS_Store
gradebook/gui/helloWorld/.vs/helloWorld/xs/UserPrefs.xml
gradebook/gui/.DS_Store
gradebook/.DS_Store
attributes/attributes/obj/Debug/netcoreapp3.1/attributes
attributes/attributes/bin/Debug/netcoreapp3.1/attributes
attributes/.vs/attributes/xs/UserPrefs.xml
